body {
    font-family: sans-serif;
}

h1 {
    background-color: black;
    color: white;
    text-align: center;
}

h2 {
    background-color: grey;
    color: white;
    text-align: center;
}

img {
    height: 200px;
    width: auto;
}