body {
    font-family: sans-serif;
    background-color: rgb(145, 145, 145);
}

* {
    margin: 10px;
}

h1 {
    background-color: black;
    color: white;
    text-align: center;
}

h2 {
    background-color: grey;
    color: white;
    text-align: center;
}

img {
    height: 200px;
    width: auto;
}

li {
    margin: 0;
}

.recipe-images-container {
    display: flex;
    justify-content: space-around;
}

.recipe-images-container img {
    flex: 1;
}